<div id="center_item_portafolio">
	<div class="display_imagenes_portafolio">
	<div class="principal_img">
		<img src="{{STATIC_URL}}img/imagendemuestra.png">
	</div>
		<div class="center_slider_portafolio">
			<img src="">
			<img src="">
			<img src="">
			<img src="">			
		</div>
	</div>
	<div class="info_portafolio">
		<div class="top_p">
			<h1> Kilometrico web Site Empresarial </h1>
			<p> Diseño web a la medida </p>

		</div>
		<div class="botton_p">
			<p> Descripcion: Portal Istitucional y publicitario de la Empresa Kilometrio S.A.S   </p>
		</div>

	</div>
</div>