{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'servicios' %}{% endblock %}
{% block content %}
<div class="contenedor_base container ">
 <section id="">
   <div id="sequence">
     <img class="prev" src="{{STATIC_URL}}img/bt-prev.png" alt="Previous" />
     <img class="next" src="{{STATIC_URL}}img/bt-next.png" alt="Next" />
     <ul>
       <li>

       </li>
       <li>
        
       </li>
     </ul>
   </div>
 </section>
	<div id="panelSelectProduct" class="row-fluid">
		<div class="center_Interno span12">
				<span class="link_producto_portafolio " id="Diseno"></span>
				<span class="link_producto_portafolio " id="Paginasweb"></span>
				<span class="link_producto_portafolio " id="Aplicaciones"></span>
				<span class="link_producto_portafolio " id="SocialMedia"></span>	
				<span style="margin-right: 0px;" class="link_producto_portafolio " id="AppsMovil"></span>
		</div>
	</div>
	<div class="content_panels " >
	
	<!-- panel -->
		<div class="panel_portafolio row-fluid">
			<div class="info_panle span11">
			</div>
			<div class="items_panel">
			 	<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			 	<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			 	<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			 	<div class="item"></div>
				<div class="item"></div>
				<div class="item"></div>
			</div>
		</div>
	</div>

</div>
<div id="modalPortafolio">

</div>

{% endblock %}
{% block style %}
{% endblock %}

{% block js %}
{% endblock %}