{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'servicios' %}{% endblock %}
{% block content %}
 <section id="panel_sleder_servicios">
  <div id="panel_principal">
   <div  id="sequence">
     <img class="prev" src="{{STATIC_URL}}img/bt-prev.png" alt="Previous" />
     <img class="next" src="{{STATIC_URL}}img/bt-next.png" alt="Next" />
   
     <ul>
       <li>
       		<div class="info animate-in text_siler_servicos">
       			<h2> Portafilio Profecional </h2>
	        	<p> Dime que haz echo y te dire quien eres</p>
       		</div>
       </li>
       <li >
       		<div class="info text_siler_servicos">
       			<h2> Podra mi empresa lograr actualizarse a nuevo siglo? </h2>
				<p> Si ellos pudieron Adelante!</p>
       		</div>
       </li>
     </ul>
   </div>
   <div id="renderplantilla"></div>
</div>
 </section>
<div class="contenedor_base container ">
		<div class="center_Interno_link_portafolio ">
				<a >
					<div id="tooltipdiseno" class="tool_tip_boby">
						<div class="tool_pri"> Desarrollo Web</div>
						<div class="tool_botton"></div>
					 </div>
					<img class="link_portafolio img-circle" src='{{STATIC_URL}}img/bnt_cob_pnl.png' data-service="diseno" id="Diseno">
				</a>
				<a >
					<div id="tooltipPaginasweb" class="tool_tip_boby">
						<div class="tool_pri"> Diseño Grafico</div>
						<div class="tool_botton"></div>
					 </div>
					<img class="link_portafolio img-circle "src='{{STATIC_URL}}img/bnt_admin_pnl.png' data-service="Paginasweb" id="Paginasweb">
				</a>
		</div>
	<div class="content_panels " >
	
	<!-- panel -->
		<div class="panel_portafolio ser_diseno row-fluid" >
			<div class=" span12 title_portafolio ">
				<h2> Diseño web </h2>
				<p> Puerta virtual de su negocio ñañaña</p>
			</div>
			<div class="items_panel " >
			 	{% for item in implementaciones %}
				 	{% if item.service.id == 1 %}
				 	<div class="item">
				 		<img class="imagen_portafolio" src="{{MEDIA_URL}}{{item.logo}}" data-id="{{item.id}}">
				 		<div><a>link </a></div>
				 	</div>
				 	{% endif %}	
				{% endfor %}
			</div>
		</div>

	<!-- panel -->
		<div class="panel_portafolio ser_Paginasweb row-fluid" >
			<div class="title_portafolio span12"  >
				<h2> Diseño Grafico </h2>
				<p> La imagen los es todo </p> 
			</div>
			<div class="items_panel " >
				{% for item in implementaciones %}
					{% if item.id == 2 %}
				 	<div class="item">
				 		<img src="">
				 		<div><a>link</a></div>
				 	</div>
				 	{% endif %}
				{% endfor %}
			</div>
		</div>


	</div>

</div>
<div id="panelEscondido">
<div id="div_temp"></div>
</div>


</div>

{% endblock %}
{% block style %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	slider_activo=1
$( document ).ready(function() {

	function gestor_portafolio(self)
	{ var id =$('.imagen_portafolio:hover').attr('data-id');
		if (slider_activo == 1) {
			slider_activo =0;
			$('#sequence').hide();
			};
		sendAjax({% url 'element_portafolio' %}, {'id' : id }, function(data) 
			{renderizarEn(data,'renderplantilla');},{'met':'get'}
			);	
	};

	$('.link_portafolio').on('click',
		function(e){
			var service = $(this).data().service;
			$('.panel_portafolio').hide(1);
			$('.ser_'+service).show(1);	
		});

	$('.link_portafolio').hover(function(){
			service = $(this).data().service;
			$('#tooltip'+service).css('display','block');		
		},
		function(){
			service = $(this).data().service;
			$('#tooltip'+service).css('display','none');		
		});

	$('.item').hover(function(){
			service = $(this).data().service;
			$('#tooltip'+service).css('display','block');		
		},
		function(){
			service = $(this).data().service;
			$('#tooltip'+service).css('display','none');		
		});

	$('.imagen_portafolio').on('click',gestor_portafolio);
	$('.center_Interno_link_portafolio').on('click',function(){slider_activo =1;$('#sequence').show();$('#renderplantilla').hide();})
	$(".center_Interno_link_portafolio a:first-of-type img").click();
});
</script>
{% endblock %}