<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ PROJECT_NAME }}, {{ PROJECT_DESCRIPTION }}">
	<meta name="tamarindolabs" content="">
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
	<title>{% block title %}{% endblock %}</title>

	{# Styles #}
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	{% block style %}
	{% endblock %}
</head>

<body>
	
	{# Navigation #}
	<nav class="main-navigation" role="navigation">
		<ul>
		    <li><a href="#hero">Inicio</a></li>
		    <li><a href="#works">Portafolio</a></li>
		    <a class="tamLogo" href="/">
				<img src="{{STATIC_URL}}img/navlogo.gif" alt="Tamarindo Labs" title="Inicio Tamarindo Labs" />
			</a>
		    <li><a href="#services">Servicios</a></li>
		    <li><a href="#contact">Contacto</a></li>
		</ul>
	</nav>

	{# Main Content #}
		{% block content %}
		{% endblock %}


	{# Main Footer #}
	<footer>
		<figure class="footer-box">
			<a href="mailto:hi@tamarindolabs.com" alt="Correo a Tamarindo Labs" tittle="Enviar un correo a Tamarindo Labs">
				<img src="{{STATIC_URL}}img/logo.jpg" alt="Tamarindo Labs" class="footer-logo"/>
			</a>
		</figure>
		<figure class="paper">
			<img src="{{STATIC_URL}}img/paper-shadow.png" alt="Contactenos" class="paper-shadow"/>
			<a href="#" alt="Contactanos" tittle="Contactanos">
				<img src="{{STATIC_URL}}img/footer-contact.png" alt="Contactenos" class="footer-contact"/>
			</a>
		</figure>
	</footer>

	{# Scripts'n'Stuff #}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery.min.js"><\/script>')</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/sequence.jquery.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	<script type="text/javascript"> 
	$(document).ready(function(){

		// Load Slider
		var options = {
			autoPlay: false,
			nextButton: ".next",
			prevButton: ".prev"
		};

		// var sequence = $("#sequence").sequence().data("sequence");
	})
	</script>
	{% block js %}
	{% endblock %}

</body>
</html>